body {
  text-align: center;
  background-color: #ededed;
}

.chart {
  height: 100%;
  width: 100%;

  /*   min-width:300px;
    height:200px;
    background-color:#fff; */
}

svg.bar-chart {
  position: relative;
  transition: .5s;
  -webkit-transition: .5s;
}


